<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Control</title>
    <script>
        // Function to send the form data to the server via fetch
        async function submitForm(buttonid) {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const configname = document.getElementById("configname").value;
            const command = buttonid;

            document.getElementById("output").textContent = "Processing, please wait...\n";

            document.getElementById('start').disabled = true;
            document.getElementById('stop').disabled = true;
            document.getElementById('status').disabled = true;
            document.getElementById('restore').disabled = true;

            const data = { username: username, password: password, configname: configname, command: command };

            const response = await fetch("run_command", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if (response.status === 200) {
                document.getElementById("output").textContent = "Result:\n" + result.output;
            } else {
                document.getElementById("output").textContent = "Error:\n" + result.error;
            }
            document.getElementById('start').disabled = false;
            document.getElementById('stop').disabled = false;
            document.getElementById('status').disabled = false;
            document.getElementById('restore').disabled = false;
        }
    </script>
</head>
<body>
    <h1>VM Controller</h1>

    <form onsubmit="event.preventDefault(); submitForm('start');">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="configname">Scenario Name:</label><br>
        <input type="text" id="configname" name="configname" required><br><br>

        <button id='start' onclick="submitForm(this.id)" type="submit">Start VM</button>
        <button id='stop' onclick="submitForm(this.id)" type="submit">Stop VM</button>
        <button id='status' onclick="submitForm(this.id)" type="submit">Get Status</button>
        <button id='restore' onclick="submitForm(this.id)" type="submit">Restore VM </button> (you will lose all progress)
    </form>

    <h2>Output</h2>
    <pre id="output"></pre>
</body>
</html>

